* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: whitesmoke;
}

main {
    flex: 1 1 auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: .8rem;
    padding: 1rem 4rem;
}

.author-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer a .fa-github {
    font-size: 1.5rem;
}

footer a {
    color: #e5e7eb;
}

.site-title {
    color: rgb(250, 130, 70);
    font-weight: bold;
    font-size: 1.5rem;
}

.site-logo {
    box-sizing: border-box;
    height: 5rem;
    padding: 1rem;
}

.main-image {
    height: auto;
    max-width: 300px;
    width: 75vw;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.tile {
    width: 75vw;
    max-width: 150px;
    margin: 1rem;
}

.tile a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.tile a img {
    border-radius: 10px;
    height: auto;
    max-width: 150px;
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 1rem 0;
        margin-bottom: 2rem;
    }
    
    .site-title {
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        margin-bottom: 2rem;
    }

    .site-title {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    header {
        /* max-width: 1200px; */
        display: flex;
        justify-content: flex-start;
        padding: 1rem 0;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 992px) {
  
}

@media only screen and (min-width: 1200px) {
  
}